{% extends 'oscar/layout.html' %}
{% load static %}
{% load product_tags %}
{% load category_tags %}
{% load image_tags %}
{% load i18n %}

{% block layout %}
    <div class="header-home" style="background-image: url('static/mask-scrunchies-bg-crop.jpg');">
        {# Top-horizontal bar with account, notifications, dashboard links #}
        {% include "oscar/partials/nav_accounts.html" %}

        {# Site logo/title, mini-basket, browse dropdown and searchbox #}

        <header class="header container-fluid">
            <div class="page_inner">
                <div class="row">
                    <div class="col-sm-3"></div>
                    {% include "oscar/partials/brand.html" %}
                    <div class="col-sm-3"></div>
                </div>
            </div>
            {% block navigation %}
                {% include "oscar/partials/nav_primary.html" %}
            {% endblock %}
        </header>
        <div class="container">
            <div class="home-bg row">
                <div class="shop-now col-sm-12">
                    <a href="/catalogue" class="">
                        Shop Now
                    </a>
                </div>
            </div>
        </div>
    </div>

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
        <div class="container-fluid page">
            <div class="page_inner">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "oscar/partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}

                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">
                        {% block content %}
                            <div id="our-catalogue">
                                Our catalogue
                            </div>
                            {% comment %}Adapted from browse.html{% endcomment %}
                            {% category_tree as tree_categories %}
                            {% if tree_categories %}
                                <div class="container">
                                    {% for tree_category in tree_categories %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="home-img">
                                                    {% oscar_thumbnail tree_category.image "500x500" upscale=False as thumb %}
                                                    <a href="{{ tree_category.url }}">
                                                        <img class="img-responsive home-img-tile"
                                                             src="{{ thumb.url }}"
                                                             alt="{{ category.name }}" title="{{ category.name }}">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                {% if tree_category.description %}
                                                    <div class="home-cat-descrip">{{ tree_category.description|safe }}</div>
                                                {% endif %}
                                                <div class="home-cat-button">
                                                    <a href="{{ tree_category.url }}">
                                                        {% if tree_category.pk == category.pk %}
                                                            <strong>{{ tree_category.name }}</strong>
                                                        {% else %}
                                                            {{ tree_category.name }}
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% include "oscar/partials/footer.html" %}
{% endblock %}